td{
    border: 1px solid black; 
    border-collapse: collapse; 
}

tr:nth-child(even) {
    background-color:#ffffff;
}

tr:nth-child(odd) {
    background-color:#f0f0f0;
}

tr:hover{
    background-color:yellow;
}
.container{
    display: flex; 
    flex-wrap: wrap;
}